@font-face {
    font-family: "Aeonik";
    src: url("fuentes/Aeonik\ Regular.ttf");
}
html {
    scroll-behavior: smooth;
  }  

*{
    margin: 0;
    padding: 0;
    font-family: "Aeonik",Helvetica, Arial, sans-serif;
}

body{
    width: 98.8vw;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f7;
}
nav{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.ContenedorLogo{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre{
    font-family: "Aeonik",Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.Anclas{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.usuario{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 25px; */
    cursor: pointer;
}

.usuario i{
    font-size: 25px ;
    color: #000;
}

ul{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
   
}
.ancla-header{
    text-decoration: none;
    color: #868686;
    transition: color 0.3s;
}

.ancla-header:hover{
    font-weight: bolder;
    color: #f7ba14;
}

.Logo
{
    width: 100px;
    height: 100px;
}

.modal {
    display: none;
    position: absolute;
    width:215px !important; /* Ancho de la modal */
    margin-left: 1256px;
    top: 90px !important;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btnLogin {
    width: 80%;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f7ba14;
    color: #fff;
    border: none;
    border-radius: 5px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.carrusel {
    width: 100%;
    overflow: hidden; 
    position: relative; 
  }
  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%; 
    top: 0;
    bottom: 0;
    z-index: 2;
  }

.carousel-item img{
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    background-size: cover;
    filter: brightness(0.6);
    
} 

.carousel-caption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
  }


.carousel-caption p{
    font-size: 20px;
    margin-right: 550px; 
    text-align: left;
}

  .tituloCiudad {
    color: #ffffff;
    font-size: 60px; 
    font-weight: bold; 
    text-align: left;
  }

#santaMTitulo{
    margin-right: 1136px; 
}

#cartagenaTitulo{
    margin-right: 1195px; 
}

#medellinTitulo{
    margin-right: 1248px;
}

#sanAndresTitulo{
    margin-right: 1153px; 
}

#bogotaTitulo{
    margin-right: 1280px; 
}

#cafeteroTitulo{
    margin-right: 1136px; 
}

#Promociones{
    width: 150px;
    height: 30px;
    background-color: #31353e;
    font-size: 20px;
    margin-right: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PromocionesT{
    font-size: 60px;
    font-weight: bold; 

}

.btnPromo{
    width: 300px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f7ba14;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 1510px; 
}

.Planes{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloPlan{
    margin-top: 2%;
    font-size: 50px;
    font-family:'Yeseva One', cursive;
}

.cards{
    width: 80%;
    height: 80%;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.cards a{
    text-decoration: none;
    background-color: transparent;
}

.plan{
    width: 300px;
    height: 200px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20PX;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.plan img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  

.plan p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    transition: background 0.5s ease;
  }

.plan:hover .text{
    background: rgba(0, 0, 0, 0.2);
}

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactos{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-contacto{
    width: 90%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-contacto h3{
    font-size: 20px; 
    margin-right: 40rem
}

.info{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactanos{
    color: #868686;
}

.fa-solid{
    color: #868686;
    font-size: 16px;
}

.tituloInfo{
    font-size: 18px;
    color: #868686;
}

.textoInfo{
    font-size: 18px;
    color: #f7ba14;
}

.redes{
    width: 40%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    font-size: 30px;
    gap: 1.5rem;
    margin: 1%;
}

.fa-brands{
    cursor: pointer;
    color: #868686;
}

.mapa{
    width: 40%;
    height: 60%;
    margin-bottom: 5rem;
}